In [1]:
#first install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell indpiron 15\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\dell indpiron 15\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [2]:
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
import time

In [3]:
#connect to web driver
driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

In [4]:
url ='https://www.naukri.com/'
driver.get(url)

In [5]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [6]:
#write on search bar
search_job.send_keys('Data Analyst')

In [7]:
#finding element for job location bar
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc

In [8]:
search_loc.send_keys('Bangalore')

In [9]:
#click by using x path function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [19]:
#have all the tags having job title
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="e2b595f3-cba9-4dd3-8351-7b27e98c84af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="ca5ce4c8-fec6-4cf1-9ed0-f61a11f581a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="88169068-8d21-4dfc-910f-b16c6acfa10e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="1d189531-7e78-4a96-98df-0fe3ab1e2489")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="5595f7c8-d92a-4c6a-bbf8-d9795c92ee5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="b5571abe-3d26-4cb8-be00-1873e0cc3d2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="ebda93b3-ee86-4d0a-9951-7e850baae8a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="2bcfa30b-c719-475b-a84f-d22ee7544776")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="5b1ba4e5-2d07-4648-94a5-f634d31868b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="fd5cfc93-aa0c-430e-8b08-4da3c8fd53af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="0029b1b7-1777-4852-b024-206eab33c1e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="96e72b01-a84c-4c09-8236-7f74ada4a5a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="8ad4e05e-738b-4cfa-b50f-9b3426c4f0b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="07d93ee6-2f91-47dc-bb61-5fa835977046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="0d6c08d6-56da-4910-8327-4fd97958ccac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="ec70513d-06be-4384-bb9e-437a01e349c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="2576736d-a660-401a-9c27-50dd1da697b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="cb47aef2-6914-44be-8245-445cc113f3d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="f0a497ae-abfb-47fa-a359-62c6811b9dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="02e58298-7ec8-49f6-97c6-f138d50d242b")>]

In [20]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
        
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Junior Data Analyst',
 'Junior Data Analyst',
 'Network Design & Data Analyst',
 'Market Data Analyst',
 'Data analysts',
 'Data Analyst',
 'Consultant - Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Data Analyst',
 'Market Data Business Analyst,',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Software Developer / Web Developer/data analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst – Financial, Healthcare, Sports Betting']

In [21]:
#scrap company names
comp_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="50dff843-f8ac-46f3-9aeb-b38d7e55e6cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="18376cb0-3a52-4612-81f8-f4a9d0ea6ae4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="de44aa75-bad3-47e8-8dbe-8e77fe1ae9bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="1e919651-9d85-431d-88d0-6250f881ca87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="9fa77687-24c9-45b3-b3f1-6941aada6520")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="18d218b6-3cd7-4fd7-97c4-d0856494ed87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="a588f18c-8bad-40c2-ae20-bd6cccf0f628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="46825613-6c02-46a9-b231-6a2b41e9fe81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="00886f6d-3689-44c5-af74-735c20bc4639")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="c40891df-fde8-4cfe-9a80-cbaf1f8867ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="2bf04473-f871-4ad0-a0db-35b22928a8cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="0c044ebf-6b39-42d5-8c23-68081d14c3ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="fd1e1859-59de-4eb8-a87e-3d0c47a992ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="d8a8c22e-fc0c-4dd3-84f3-4c8729e1019e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="3a05463b-9a63-4aec-bd79-28d547ce8b9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="6dfd175a-2a7f-4d04-839a-d3e14396e727")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="8324b5a2-ac5c-4e0b-a24b-6da4e9aa6bc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="8206eda7-bd0f-4900-a0bb-01236adbfcb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="74947730-3494-45a0-aed8-e58a1a313168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="39b24775-3f3d-471c-9bb7-cae487ea164c")>]

In [22]:
comp_name=[]
for i in comp_tags:
    comp_name.append(i.text)
comp_name

['Inflexion Analytix Private Limited',
 'Simplilearn',
 'Simplilearn',
 'Dell International Services India Private Limited',
 'Gervitech Technologies',
 'IBM India Pvt. Limited',
 'CARNATION INFOTECH PRIVATE LIMITED',
 'Flipkart Internet Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Flipkart Internet Private Limited',
 'Uber',
 'INTERTRUST GROUP',
 'Infoservicesllc',
 'Clarivate Analytics',
 'Luxoft',
 'Mind Circus Innovation',
 'Edubridgeindia',
 'Siemens Limited',
 'Liventus, Inc.',
 'Quantsys']

In [23]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="3febd224-4258-4a33-b816-6ba65948d4a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="4d063941-853a-45a2-bb59-ddecf7a6032f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="c705b37a-6c43-49a0-a8ff-22c8c72e5b11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="97b44357-effd-4e7b-a40a-fcaf3885ac23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="a06ded5e-caa4-4550-a607-6d2af2283a50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="4fa77e95-2337-4045-9ab5-04c5cb1d9f93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="bcb91a4d-c782-4221-99b9-ef0acb46e3f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="07acaace-f108-453f-a5b4-085d4aa073f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="b0719d5e-d6c7-4589-81f1-35bf993457da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="5671d725-8524-480f-8e7b-80ee97ffe5a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="8fc65f35-f308-41eb-aa7a-6553c42b9c26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="72bdb8b6-6f6f-4572-86d3-a4ccae820dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="3270fc23-2ba8-40e3-b48c-931bbe109ec8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="c515c5d6-3385-4ee9-aedb-e3ade8b9b444")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="ea631904-0f49-4c95-aa1c-306c1eaabbe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="db62f335-f1ca-42ca-9635-a35733bb3a6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="399efdbe-fabd-4c96-befc-7f7075e16142")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="72ec3716-2019-4ef1-84a7-4b4eb7075ae0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="f2341548-f4fc-4fce-bb67-41158fb77599")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="72434333-e54c-440f-9b27-aecfae0d14c7")>]

In [24]:
expn=[]
for i in exp_tags:
    expn.append(i.text)
    
expn

['0-3 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '10-15 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '1-2 Yrs',
 '2-6 Yrs',
 '0-2 Yrs',
 '0-1 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '2-4 Yrs']

In [25]:
sal_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")
sal_tags

[<selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="1a54b7be-7f29-4e64-8e70-c1a86e418dbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="e4089ef0-7990-4756-b620-23cdc3700daa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="bff4da49-1d86-406c-aa6c-8c264d4d2c92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="b76256d3-0f38-4df7-b345-2923f7bf0a24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="d78ad87d-e7de-4bf4-836b-ac80c06e77ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="739157a7-6edc-4933-bc4d-b45adb99bd35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="c5955c62-ebcc-4041-be13-f6497e361b7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="22a0f102-2703-4be8-849a-ffb3c177efeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="fb65af1a-64bc-4562-baca-6cef4472baa5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="b1677d4b-d285-4a4d-bad0-4fc740aee11d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="803cc974-ad60-448a-a9fc-eb8ebf1a9d43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="4785dcbb-796d-451f-9109-f8916953950e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="860e37a9-19a9-41fd-a0ef-ef1e81ee7121")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="4beb62ef-f5f8-4c01-83f6-9e23842b4d9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="471aa128-4324-4146-8383-81758529372b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="3c9618bb-3294-48f9-863c-c023f2d196ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="8e117ef2-ddcc-4a81-b039-0197efe89206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="8a720ef6-3637-49b7-acd8-6454253cdb5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="8ab1e885-0121-4cf9-885f-d8378e9b637f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4843c73981ded8e99cf34a8427491ad1", element="bb13aba8-64f1-48b6-a6b7-cc5f906b8fdf")>]

In [26]:
salary = []
for i in sal_tags:
    salary.append(i.text)
salary

['3,50,000 - 4,50,000 PA.',
 '3,50,000 - 5,00,000 PA.',
 '3,50,000 - 5,00,000 PA.',
 'Not disclosed',
 '3,25,000 - 6,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '15,00,000 - 30,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '90,000 - 2,50,000 PA.',
 '50,000 - 70,000 PA.',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 '3,25,000 - 4,75,000 PA.']

In [27]:
df = pd.DataFrame({})
df['JOB TITLE'] = comp_name
df['EXPERIENCE'] = expn
df['SALARY'] = salary

df.head(10)

,JOB TITLE,EXPERIENCE,SALARY
0,Inflexion Analytix Private Limited,0-3 Yrs,"3,50,000 - 4,50,000 PA."
1,Simplilearn,0-2 Yrs,"3,50,000 - 5,00,000 PA."
2,Simplilearn,0-2 Yrs,"3,50,000 - 5,00,000 PA."
3,Dell International Services India Private Limited,0-2 Yrs,Not disclosed
4,Gervitech Technologies,0-5 Yrs,"3,25,000 - 6,00,000 PA."
5,IBM India Pvt. Limited,5-10 Yrs,Not disclosed
6,CARNATION INFOTECH PRIVATE LIMITED,0-5 Yrs,Not disclosed
7,Flipkart Internet Private Limited,0-2 Yrs,Not disclosed
8,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs,Not disclosed
9,Flipkart Internet Private Limited,3-5 Yrs,Not disclosed

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

# 1. first get the webpage https://www.naukri.com/

In [28]:
#connect to web driver
driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

In [29]:
url ='https://www.naukri.com/'
driver.get(url)

# 2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [30]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job

In [31]:
#write on search bar
search_job.send_keys('Data Analyst')

In [32]:
#finding element for job location bar
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc

In [33]:
#write on search bar
search_loc.send_keys('Bangalore')

# 3. Then click the search button.

In [34]:
#click by using x path function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

# 4. Then scrape the data for the first 10 jobs results you get.
# 5. Finally create a dataframe of the scraped data.

In [35]:
#have all the tags having job title
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [36]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
        
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Junior Data Analyst',
 'Junior Data Analyst',
 'Network Design & Data Analyst',
 'Market Data Analyst',
 'Data analysts',
 'Data Analyst',
 'Consultant - Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Data Analyst',
 'Market Data Business Analyst,',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Software Developer / Web Developer/data analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst – Financial, Healthcare, Sports Betting']

In [37]:
#scrap company names
comp_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [38]:
comp_name=[]
for i in comp_tags:
    comp_name.append(i.text)
comp_name

['Inflexion Analytix Private Limited',
 'Simplilearn',
 'Simplilearn',
 'Dell International Services India Private Limited',
 'Gervitech Technologies',
 'IBM India Pvt. Limited',
 'CARNATION INFOTECH PRIVATE LIMITED',
 'Flipkart Internet Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Flipkart Internet Private Limited',
 'Uber',
 'INTERTRUST GROUP',
 'Infoservicesllc',
 'Clarivate Analytics',
 'Luxoft',
 'Mind Circus Innovation',
 'Edubridgeindia',
 'Siemens Limited',
 'Liventus, Inc.',
 'Quantsys']

In [39]:
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [40]:
expn=[]
for i in exp_tags:
    expn.append(i.text)
    
expn

['0-3 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '10-15 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '1-2 Yrs',
 '2-6 Yrs',
 '0-2 Yrs',
 '0-1 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '2-4 Yrs']

In [41]:
sal_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")

In [42]:
salary = []
for i in sal_tags:
    salary.append(i.text)
salary

['3,50,000 - 4,50,000 PA.',
 '3,50,000 - 5,00,000 PA.',
 '3,50,000 - 5,00,000 PA.',
 'Not disclosed',
 '3,25,000 - 6,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '15,00,000 - 30,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '90,000 - 2,50,000 PA.',
 '50,000 - 70,000 PA.',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 '3,25,000 - 4,75,000 PA.']

In [43]:
job_openings_urls = []
urls = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in urls:
 job_openings_urls.append(i.get_attribute('href'))
job_openings_urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=1625987879005476&xp=1&px=1',
 'https://www.naukri.com/job-listings-junior-data-analyst-simplilearn-solutions-private-limited-bangalore-bengaluru-0-to-2-years-090721607152?src=jobsearchDesk&sid=1625987879005476&xp=2&px=1',
 'https://www.naukri.com/job-listings-junior-data-analyst-simplilearn-solutions-private-limited-bangalore-bengaluru-0-to-2-years-090721007150?src=jobsearchDesk&sid=1625987879005476&xp=3&px=1',
 'https://www.naukri.com/job-listings-network-design-data-analyst-dell-international-services-india-private-limited-bangalore-bengaluru-0-to-2-years-050721905359?src=jobsearchDesk&sid=1625987879005476&xp=4&px=1',
 'https://www.naukri.com/job-listings-market-data-analyst-gervitech-technologies-madurai-kolkata-hyderabad-secunderabad-ahmedabad-chennai-bangalore-bengaluru-0-to-5-years-100721004169?src=jobsearchDesk&sid=1625987879005476&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-analysts-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-090721905779?src=jobsearchDesk&sid=1625987879005476&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analyst-carnation-infotech-private-limited-lucknow-bangalore-bengaluru-0-to-5-years-090721003446?src=jobsearchDesk&sid=1625987879005476&xp=7&px=1',
 'https://www.naukri.com/job-listings-consultant-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-0-to-2-years-060721901131?src=jobsearchDesk&sid=1625987879005476&xp=8&px=1',
 'https://www.naukri.com/job-listings-assistant-vice-president-mis-reporting-business-data-analyst-intertrustviteos-corporate-and-fund-services-pvt-ltd-mumbai-bangalore-bengaluru-10-to-15-years-080521002186?src=jobsearchDesk&sid=1625987879005476&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-3-to-5-years-090721901093?src=jobsearchDesk&sid=1625987879005476&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-analyst-uber-bangalore-bengaluru-1-to-3-years-090721501706?src=jobsearchDesk&sid=1625987879005476&xp=11&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-mis-reporting-intertrust-group-mumbai-bangalore-bengaluru-3-to-8-years-270121001879?src=jobsearchDesk&sid=1625987879005476&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-analyst-infoservicesllc-hyderabad-secunderabad-chennai-bangalore-bengaluru-7-to-12-years-100721003600?src=jobsearchDesk&sid=1625987879005476&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-analyst-clarivate-analytics-bangalore-bengaluru-1-to-2-years-090721501325?src=jobsearchDesk&sid=1625987879005476&xp=14&px=1',
 'https://www.naukri.com/job-listings-market-data-business-analyst-luxoft-bangalore-bengaluru-2-to-6-years-090721501248?src=jobsearchDesk&sid=1625987879005476&xp=15&px=1',
 'https://www.naukri.com/job-listings-excel-vba-jobs-bangalore-vba-data-analyst-jobs-mind-circus-innovation-coimbatore-bangalore-bengaluru-trivandrum-thiruvananthapuram-0-to-2-years-080721000901?src=jobsearchDesk&sid=1625987879005476&xp=16&px=1',
 'https://www.naukri.com/job-listings-software-developer-web-developer-data-analyst-edubridgeindia-hyderabad-secunderabad-bangalore-bengaluru-0-to-1-years-070721000205?src=jobsearchDesk&sid=1625987879005476&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-analyst-siemens-limited-bangalore-bengaluru-0-to-5-years-050721501272?src=jobsearchDesk&sid=1625987879005476&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-liventus-inc-bangalore-bengaluru-5-to-8-years-240621007072?src=jobsearchDesk&sid=1625987879005476&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-analyst-financial-healthcare-sports-betting-quantsys-pune-chennai-bangalore-bengaluru-2-to-4-years-070721007042?src=jobsearchDesk&sid=1625987879005476&xp=20&px=1']

In [44]:
#scrap data from job openings
job_opening_url = []

url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in url:
    job_opening_url.append(i.get_attribute('href'))
job_opening_url

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=1625987879005476&xp=1&px=1',
 'https://www.naukri.com/job-listings-junior-data-analyst-simplilearn-solutions-private-limited-bangalore-bengaluru-0-to-2-years-090721607152?src=jobsearchDesk&sid=1625987879005476&xp=2&px=1',
 'https://www.naukri.com/job-listings-junior-data-analyst-simplilearn-solutions-private-limited-bangalore-bengaluru-0-to-2-years-090721007150?src=jobsearchDesk&sid=1625987879005476&xp=3&px=1',
 'https://www.naukri.com/job-listings-network-design-data-analyst-dell-international-services-india-private-limited-bangalore-bengaluru-0-to-2-years-050721905359?src=jobsearchDesk&sid=1625987879005476&xp=4&px=1',
 'https://www.naukri.com/job-listings-market-data-analyst-gervitech-technologies-madurai-kolkata-hyderabad-secunderabad-ahmedabad-chennai-bangalore-bengaluru-0-to-5-years-100721004169?src=jobsearchDesk&sid=1625987879005476&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-analysts-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-090721905779?src=jobsearchDesk&sid=1625987879005476&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analyst-carnation-infotech-private-limited-lucknow-bangalore-bengaluru-0-to-5-years-090721003446?src=jobsearchDesk&sid=1625987879005476&xp=7&px=1',
 'https://www.naukri.com/job-listings-consultant-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-0-to-2-years-060721901131?src=jobsearchDesk&sid=1625987879005476&xp=8&px=1',
 'https://www.naukri.com/job-listings-assistant-vice-president-mis-reporting-business-data-analyst-intertrustviteos-corporate-and-fund-services-pvt-ltd-mumbai-bangalore-bengaluru-10-to-15-years-080521002186?src=jobsearchDesk&sid=1625987879005476&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-analyst-flipkart-internet-private-limited-bangalore-bengaluru-3-to-5-years-090721901093?src=jobsearchDesk&sid=1625987879005476&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-analyst-uber-bangalore-bengaluru-1-to-3-years-090721501706?src=jobsearchDesk&sid=1625987879005476&xp=11&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-mis-reporting-intertrust-group-mumbai-bangalore-bengaluru-3-to-8-years-270121001879?src=jobsearchDesk&sid=1625987879005476&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-analyst-infoservicesllc-hyderabad-secunderabad-chennai-bangalore-bengaluru-7-to-12-years-100721003600?src=jobsearchDesk&sid=1625987879005476&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-analyst-clarivate-analytics-bangalore-bengaluru-1-to-2-years-090721501325?src=jobsearchDesk&sid=1625987879005476&xp=14&px=1',
 'https://www.naukri.com/job-listings-market-data-business-analyst-luxoft-bangalore-bengaluru-2-to-6-years-090721501248?src=jobsearchDesk&sid=1625987879005476&xp=15&px=1',
 'https://www.naukri.com/job-listings-excel-vba-jobs-bangalore-vba-data-analyst-jobs-mind-circus-innovation-coimbatore-bangalore-bengaluru-trivandrum-thiruvananthapuram-0-to-2-years-080721000901?src=jobsearchDesk&sid=1625987879005476&xp=16&px=1',
 'https://www.naukri.com/job-listings-software-developer-web-developer-data-analyst-edubridgeindia-hyderabad-secunderabad-bangalore-bengaluru-0-to-1-years-070721000205?src=jobsearchDesk&sid=1625987879005476&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-analyst-siemens-limited-bangalore-bengaluru-0-to-5-years-050721501272?src=jobsearchDesk&sid=1625987879005476&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-liventus-inc-bangalore-bengaluru-5-to-8-years-240621007072?src=jobsearchDesk&sid=1625987879005476&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-analyst-financial-healthcare-sports-betting-quantsys-pune-chennai-bangalore-bengaluru-2-to-4-years-070721007042?src=jobsearchDesk&sid=1625987879005476&xp=20&px=1']

In [45]:
#for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]:
    #i.click()

In [46]:
Job_Description1 = []
for i in job_opening_url:
    driver.get(i)
    desc1 = driver.find_elements_by_xpath('//section[@class="job-desc"]')
    for j in desc1:
            Job_Description1.append(j.text.replace('\n','').replace('Job description',''))
Job_Description1

["Job Role: Data Scientist/Data Analyst /Business AnalystLocation: Chennai/Bangalore/HyderabadGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.Call to schedule interview Monday -Saturday from 10:00 am to 7 PmKoodesh B- +91 73395 11107Manigandan B - +91 93444 57360Email :careerguidance.koodes@centerforaia.commanigandan@centerforaia.comWhat is needed from you?Freshers who wish to start their career in Analytics and AI and professionals who wish toupskill or change their domain to analytics and emerging technologies are free to apply.Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCASkills relating to Mathematics/Statistics.Natural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualizationGood verbal and written communication skillsAbility to understand domains in businesses across various sectorsSelection procedure includesAptitude Test & Communication Exam - Online / OfflineSQL/Python test - Online / OfflineCandidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.All the Shortlisted candidates will be eligible to continue the corporate training with CAIAWhat you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:SQL & PLSQLData Wrangling using PythonData Visualization Using Power-BIStatistics for Machine LearningArtificial Intelligence, Data InterpretationSupervised & Unsupervised Learning,NLP & Deep LearningCloud Data LakeBusiness intelligence & Data VisualizationSimulation ProjectsExpected Outcome?At the end of the Training you are expected to be well versed with the following:Analysis of large and complex data sets from multiple sourcesDevelopment and evaluation of data analytics models, algorithms, and solutionsUnderstanding/implementation of ML algorithms, performance tuning, and reportingImplementation of algorithms to mine targeted data and the ability to convert data into a business storyTranslation of business requirements into technical requirements; Data extraction, preparation, and transformationIdentification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organizationRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersFinding analytical solutions to abstract business issues.Apply objective analysis of facts before coming to a conclusionRoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.Sc in Any Specialization, B.Com in Any Specialization, BCA in Any Specialization, B.Tech/B.E. in Any Specialization, Any Graduate, B.B.A/ B.M.S in Any SpecializationKey SkillsBusiness IntelligencePower BiData WranglingArtificial IntelligenceBig DataITMachine LearningStatisticsAnalyticsDeep LearningBusiness AnalysisSQLData ScienceNLPCloud ComputingData AnalysisData VisualizationData WarehousingData AnalyticsETLPython",
 'Roles and ResponsibilitiesWork with internal teams like Customer Success Managers and Business Solution Architects to support reporting needs that are necessary for their governance call, client meetings internal review, and proposal buildingSupport other teams in the Product Innovation BU for data requirements from different sourcesResponsible to create and publish reports to the BU leadership at the predefined frequency (weekly/monthly/quarterly)Create a custom excel based reports to the customer-facing teams based on client requirementDesired Candidate ProfileStrong math and analysis skills are a mustProficient in Microsoft Excel and VBA: Functions, formulas, pivot tables, and dashboardsSQL working knowledge and ability to create Scripts on RequirementPresentation Skills: Adapted to work with PowerPoint and Google SlidesData Visualization skillsKnowledge of TableauRoleData AnalystIndustry TypeEducation / TrainingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any GraduateKey SkillsExcelVBAData AnalysisData VisualizationAdvanced ExcelData ModelingTableauPython',
 'Roles and ResponsibilitiesWork with internal teams like Customer Success Managers and Business Solution Architects to support reporting needs that are necessary for their governance call, client meetings internal review, and proposal buildingSupport other teams in the Product Innovation BU for data requirements from different sourcesResponsible to create and publish reports to the BU leadership at the predefined frequency (weekly/monthly/quarterly)Create a custom excel based reports to the customer-facing teams based on client requirementDesired Candidate ProfileStrong math and analysis skills are a mustProficient in Microsoft Excel and VBA: Functions, formulas, pivot tables, and dashboardsSQL working knowledge and ability to create Scripts on RequirementPresentation Skills: Adapted to work with PowerPoint and Google SlidesData Visualization skillsKnowledge of TableauRoleData AnalystIndustry TypeEducation / TrainingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any GraduateKey SkillsExcelVBAData AnalysisData VisualizationAdvanced ExcelData ModelingTableauPython',
 'You will:Develop framework and methods to define and solve logistics problems through quantitative analysis and analytical models, using operations research, statistics and optimization techniquesUse analytical models to validate proposals from World Wide Logistics procurement and extended fulfillment and logistics teamsEvaluate Key Performance Indicators and validate network performance against operational and spend metricsDevelop insightful dashboards and performance analysis highlighting network opportunities to improve cost, service, data quality or sustainability goalsEssential RequirementsGraduated (or about to) with a BSc in Industrial Engineering, System Engineering, Mathematics, Business Analytics (or similar) with strong internship experience in related field (e.g. Supply Chain, Technology, Data Science, Software Engineering)Experience designing and implementing optimization models in for inventory, networks and other characteristics of supply-chain systems (e.g. facility location, mode optimization)Experience with SQL and statistical tools (SAS, JMP)Expertise in one or more of the following: optimization, probability theory, queuing theory, simulation, stochastic models, forecasting and mathematical modelingFamiliarity with inventory planning concepts - forecasting, planning, optimization, and logisticsDesirable Requirements0 to 2 years of relevant work experienceStrength in the core competencies of organizational agility and ability to influence senior managementStrong skills in Project Management, Continuous Improvement Methods (Six Sigma) and Lean PrinciplesRoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :B.A in Maths, B.Sc in Maths, B.Tech/B.E. in Production/IndustrialPG :Any PostgraduateKey SkillsData ScienceProject ManagementMathematical ModelingArtificial IntelligenceData AnalysisProbabilityJmpData AnalyticsStatisticsSQL',
 'Roles and Responsibilities"Prepare Reports For Internal And External Audiences Using Business Analytics Reporting Tools. Create Data Dashboards, Graphs And Visualisations. Provide Sector And Competitor Benchmarking. Monitor And Audit Data Quality. "Desired Candidate ProfileMarket Data AnalystRoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any GraduatePG :Any PostgraduateDoctorate :Doctorate Not RequiredKey SkillsMarket DataData Qualitymarket equity researchBusiness AnalyticsReport PreparationData AnalysisMarket Data AnalystCustomer serviceReporting Toolsmarket research analystAnalytics ReportingBusiness Analysis',
 "Job SpecificationEmployment Type: Full-time RelevantExperience : 0-5 YearsQualification: B. Tech/M. Tech/BCA/MCAShift Timings:  Afternoon Shift (1:30 PM-10:30 PM IST)Shift timings are subject to change according to project requirement)Position Overview:You will be aligned with our Insights & Intelligence vertical and help us generate insights by leveraging different analytics tools and techniques to deliver value to our clients.You will be working as a part of the Predictive Analytics & Modeling team which encompasses a variety of statistical techniques from data mining, predictive modeling, and machine learning, that analyze current and historical facts to make predictions about future or otherwise unknown events.You will be primarily using Python/R/SAS Programming Language to help build multiple programming paradigms including procedural, object-oriented, and functional programming. You will have to write logical code for different projects and take a constructive and object-orientated approach.Desired Skill Set:Must-Have:       Develop predictive models using machine learning, natural language, and statistical analysis methods such as classification, time-series analysis, regression, statistical inference, and validation tools; perform exploratory data analyses, generate and test working hypotheses, prepare and analyze historical data, and identify patterns.       Knowledge of advanced analytics tools and languages to analyze large data sets from multiple data sources.       Knowledge in statistical techniques from data mining, predictive modeling, and machine learning, that analyze current and historical facts to make predictions about future or otherwise unknown events.       Experience conducting statistical analysis, business analytics, and/or related working with very large data sets for building predictive modeling.       Hands-on experience in analytical languages such as Python, R/SAS, etc.       Knowledge of analytical tools such as SPSS, SQL, and Tableau/PowerBI       Understanding of modeling approaches.Good to have skills:       Experience in the Healthcare industry, biopharma, healthcare data sets; understanding of big (patient claims) data.       Working knowledge of ML techniques (RF, SVM, NLP, graph databases, neural nets) preferred.       Familiarity with Tableau/Power BI or other data visualization tools.Traits       Must work well with others and works well in a large team.       Must be able to adhere to a project's standards and coding practices.       Experience delivering code under tight deadlines with shifting requirements.       Adaptable, Flexible, creative, and capable of working independently as well as a team player.       Should have a strong sense of urgency.       Solutions orientation; Quality driven; Execution minded.RoleData AnalystIndustry TypeIT Services & ConsultingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any Graduate, BCA in Any Specialization, B.Tech/B.E. in Any SpecializationKey SkillsPower BiTableauSQLPredictive ModelingData AnalysisData MiningSAS ProgrammingSPSSMachine LearningPythonPredictive AnalyticsSkills highlighted with ‘‘ are preferred keyskills",
 'Job Description:Consultant - Data AnalystPrimary responsibility of the Data Analyst will be to build and maintain the dashboard platform/processes and to address to any data related needs of the organization. This role will work across functions with other groups in analytics as well as other departments in the company and will be expected to frequently work on data requests from various stakeholders.Expectations from the role:Create and maintain reporting tools and applications to support all strategic and tactical needs of the company Dashboard development and generation for daily, weekly, monthly and all reporting needs. Gather user requirements for new reports and enhance existing reports. Interpret needs and design reports to meet end user expectations. Data modeling, and creation of both logical and physical data models for effective and efficient reporting and TAT on frequent requests Design and develop complex data queries to move and transform data from operational data sources to analytical databases. Test all new reports/deliverables and periodically review them for quality control. Data validation and attention to detail is required as this role will be accountable for quality of all the numbers delivered through dashboards or otherwise. Work effectively as part of a team to achieve individual, team and organizational objectives, sharing knowledge and skills. Positively work and influence with team members to partner together to achieve individual, customers and business goalsRequired Technical Skills:Strong experience in building complex SQL queries Advanced Excel & Macros.Strong logical & analytical concepts in databases, schemas, dimensional modelling end-to endExperience in building complex MIS and dashboards especially in QlikviewProgramming languages like VB, JAVA, C will be good to haveExperience in QlikView and Hadoop is highly desirable but not mandatoryRequired Behavioral Skills:Should be a quick learner with ability to learn new tools/technology quickly Good analytical skills and ability to understand the business and be able to relate the same to data. Understanding of ecommerce/retail business (preferred but not mandatory) Should be result & detailed oriented and must have ability to multi task and work under pressure with minimum supervision in the fast paced ecommerce environment Proficient in Verbal and Written Communication skills, with demonstrated ability to communicate with all levels within the companyRoleData AnalystIndustry TypeInternetFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any GraduateKey SkillsData ValidationPower BiMISData AnalysisSQL QueriesAdvanced ExcelTableauDashboardsMacrosAnalytics',
 'Business Title/Designation - Assistant Vice PresidentRoles and ResponsibilitiesParticipate in analyzing, troubleshooting, remediating, and resolving issues raised by usersStrong problem solving, troubleshooting and multitasking skillsTeam player with an eye for detailStrong logical & analytical thinking, verbal and written communication skillsWorks efficiently across distributed teams and should be comfortable working in Matrix Organization structureAptitude for learning new technologies and conceptsExcellent time management skills and ability to prioritizeManage several activities in parallelAbility to manage multiple priorities and meet tight deadlinesStrong analytical, verbal, and written communication skillsAble to translate customer and business needs to technical solutionsDevelop strong working relationships with the business and other technology team members to deliver high quality solutionsDesired Candidate Profile12+ years of experience in Data Analysis, Reporting or MISProficiency in MS SQL development (SSRS, SSIS, SSAS)Strong MS SQL Server experience with SQL Server 2016/2019 versions5+ years of Experience with a BI tool like PowerBI, Tableau, SpotfireProficient with Advanced Excel, VBA MacrosHands on experience in MS Access, Visio & SharePointAbility to create Database Schemas & ETLsProficiency in any other tool like Alteryx, Data Robot, Knime or Informatica will be a plusKnowledge of Azure database will be great but not mandateRoleHead/VP/GM - Analytics & BIIndustry TypeAccounting / AuditingFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategorySenior ManagementEducationUG :Any GraduatePG :Any PostgraduateKey SkillsData EngineeringSQL ServerData VisualizationData AutomationAutomationPower BiService IntegrationService TransitionData ManagementAlteryxSSRSDigital TransformationTableauSSISSSASData AnalysisSkills highlighted with ‘‘ are preferred keyskills',
 'Skills Required :Excel, SQL, R, Python.RoleData AnalystIndustry TypeInternetFunctional AreaAnalytics & Business IntelligenceEmployment TypeFull Time, PermanentRole CategoryAnalytics & BIEducationUG :Any GraduatePG :Any PostgraduateKey SkillsRExcelData AnalysisSQLPython',

In [47]:
df = pd.DataFrame({})
df['JOB TITLE'] = job_titles[:10]
df['COMPANY NAME'] = comp_name[:10]
df['EXPERIENCE'] = expn[:10]
df['SALARY'] = salary[:10]
df['DESCRIPTION'] = Job_Description1[:10]



df

,JOB TITLE,COMPANY NAME,EXPERIENCE,SALARY,DESCRIPTION
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"3,50,000 - 4,50,000 PA.",Job Role: Data Scientist/Data Analyst /Busines...
1,Junior Data Analyst,Simplilearn,0-2 Yrs,"3,50,000 - 5,00,000 PA.",Roles and ResponsibilitiesWork with internal t...
2,Junior Data Analyst,Simplilearn,0-2 Yrs,"3,50,000 - 5,00,000 PA.",Roles and ResponsibilitiesWork with internal t...
3,Network Design & Data Analyst,Dell International Services India Private Limited,0-2 Yrs,Not disclosed,You will:Develop framework and methods to defi...
4,Market Data Analyst,Gervitech Technologies,0-5 Yrs,"3,25,000 - 6,00,000 PA.","Roles and Responsibilities""Prepare Reports For..."
5,Data analysts,IBM India Pvt. Limited,5-10 Yrs,Not disclosed,Job SpecificationEmployment Type: Full-time Re...
6,Data Analyst,CARNATION INFOTECH PRIVATE LIMITED,0-5 Yrs,Not disclosed,Job Description:Consultant - Data AnalystPrima...
7,Consultant - Data Analyst,Flipkart Internet Private Limited,0-2 Yrs,Not disclosed,Business Title/Designation - Assistant Vice Pr...
8,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs,Not disclosed,"Skills Required :Excel, SQL, R, Python.RoleDat..."
9,Data Analyst,Flipkart Internet Private Limited,3-5 Yrs,Not disclosed,About the RoleEngineering Security (EngSec) at...

# Q3: In this question you have to scrape data using the filters available:

In [49]:
#connect to web driver
driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

In [50]:
url_filter = 'https://www.naukri.com/'
driver.get(url_filter)

In [51]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys('Data Analyst')

In [52]:
#click by using x path function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [54]:
filter_location = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
filter_location.click()

In [55]:
filter_sal = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
filter_sal.click()

In [56]:
job_titles = []
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in job_title:
    job_titles.append(i.text)
        
job_titles

['Data Scientist/Data Analyst /Business Analyst',
 'Senior Associate/Executive - Energy Markets, Data Analyst',
 'Senior Associate/Executive - Energy Markets, Data Analyst',
 'Data Analyst / Business Analytics / MIS Executive - Fresher Jobs- MNC',
 'Business & Data Analyst',
 'Business & Data Analyst',
 'Data Analyst- O2C (FMCG/CPG industry Preferred)- Night Shift',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Hiring Data Analyst(Power BI experience is must)',
 'Opportunity For the position of Data Analyst',
 'Business Analytics / Data Analyst / Fresher Analyst - Job - MNC',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Mechanical',
 'Senior Associate - Data Analyst',
 'Data Analyst For a leading IT-Software firm',
 'Data Analyst']

In [57]:
job_locations = []
job_loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

for i in job_loc:
    job_locations.append(i.text)
    
job_locations

['Pune, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida, Greater Noida, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida',
 'Noida, Greater Noida, Delhi / NCR',
 'Noida, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'New Delhi, Pune, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Delhi / NCR',
 'Noida(Sector-126 Noida)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Jaipur, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida, Ghaziabad, Faridabad, Gurgaon/Gurugram, Greater Noida, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru']

In [58]:
com_names = []
com_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")


for i in com_name:
    com_names.append(i.text)
com_names

['Inflexion Analytix Private Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'GABA Consultancy services',
 'RBS Services India Private Limited',
 'NatWest Group',
 'GENPACT India Private Limited',
 'GABA Consultancy services',
 'NIIT Ltd.',
 'Ampersand Group',
 'GABA Consultancy services',
 'COLLABERA',
 'MDB General Referrals',
 'Stanza Living',
 'Investors Clinic Infratech Pvt ltd',
 'RENEW POWER VENTURES PRIVATE LIMITED',
 'H.G. Infra Engineering Limited',
 'Publicis Groupe',
 'MYFUTUREAPP',
 'Omnicom Media Group India Private Limited']

In [59]:
expe = []
exp_req = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")


for i in exp_req:
    expe.append(i.text)
expe

['0-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '0-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '1-2 Yrs',
 '0-0 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '0-5 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '1-4 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '1-2 Yrs',
 '3-5 Yrs']

In [60]:
df = pd.DataFrame({})
df['JOB TITLE'] = job_titles
df['JOB LOCATION'] = job_locations
df['COMPANY NAME'] = com_names
df['EXPERIENCE'] = expe

df.head(10)

,JOB TITLE,JOB LOCATION,COMPANY NAME,EXPERIENCE
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,"Senior Associate/Executive - Energy Markets, D...",Gurgaon/Gurugram,Allegis Services India Pvt. Ltd.,2-6 Yrs
2,"Senior Associate/Executive - Energy Markets, D...",Gurgaon/Gurugram,Allegis Services India Pvt. Ltd.,2-6 Yrs
3,Data Analyst / Business Analytics / MIS Execut...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-5 Yrs
4,Business & Data Analyst,Gurgaon/Gurugram,RBS Services India Private Limited,2-5 Yrs
5,Business & Data Analyst,Gurgaon/Gurugram,NatWest Group,2-4 Yrs
6,Data Analyst- O2C (FMCG/CPG industry Preferred...,Noida,GENPACT India Private Limited,1-2 Yrs
7,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
8,Hiring Data Analyst(Power BI experience is must),"Noida, Gurgaon/Gurugram",NIIT Ltd.,3-8 Yrs
9,Opportunity For the position of Data Analyst,Gurgaon/Gurugram,Ampersand Group,4-8 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [61]:
#connect to web driver
driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

In [62]:
url2 = 'https://www.glassdoor.co.in'
driver.get(url2)

In [64]:
time.sleep(5)
sign_in = driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]')
sign_in.click()

In [69]:
time.sleep(5)
email = driver.find_element_by_id('userEmail')
email.send_keys('abdulwashif26@gmail.com')

In [70]:
time.sleep(3)
signin_pswd = driver.find_element_by_id('userPassword')
signin_pswd.send_keys('waShif26')

In [71]:
signing_in = driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
signing_in.click()

In [72]:
search_job = driver.find_element_by_id("sc.keyword")
search_job.send_keys('Data Scientist')

In [73]:
search_loc = driver.find_element_by_id("sc.location")
search_loc.send_keys('Noida')

In [74]:
#click by using x path function
search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [75]:
job_titles = []
job_title = driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")

for i in job_title:
    job_titles.append(i.text)
        
job_titles

['Data Scientist 1',
 'Data Scientist-1',
 'DATA ENGINEER H/F - CDI',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'junior data scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Associate Machine Learning Engineer',
 'Data Scientist']

In [76]:
com_names = []
com_name = driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")


for i in com_name:
    com_names.append(i.text)
com_names

['PayPal',
 'PayPal',
 'BCA Expertise',
 '',
 'PayPal',
 'FE Fundinfo',
 'Applied Materials Inc.',
 'Dassault Systèmes',
 'Aspire Systems',
 'HP',
 'Standard Chartered',
 'VM3 Tech Solutions',
 'Springer Nature',
 'MobiKwik',
 'Kline & Company',
 'AlphaSense',
 'Siemens Technology and Services Private Limited',
 'Cervello Inc',
 'Novo',
 'ECS',
 'KPIT Technologies',
 'NatWest Group',
 'Proziod Analytics',
 'Randstad',
 'Thomson Reuters',
 'RoundSqr',
 'Microsoft',
 'GE Appliances',
 'Fidelity Investments',
 'Colgate-Palmolive',
 'Salesforce',
 'Multirecruit']

In [77]:
job_locations = []
job_loc = driver.find_elements_by_xpath("//span[@class='pr-xxsm css-1ndif2q e1rrn5ka0']")

for i in job_loc:
    job_locations.append(i.text)
    
job_locations

['Bangalore',
 'Chennai',
 'Na-Duar',
 'India',
 'Chennai',
 'Chennai',
 'Bangalore',
 'Pune',
 'Chennai',
 'Bangalore',
 'Chennai',
 'Pune',
 'Pune',
 'Gurgaon',
 'Hyderābād',
 'Pune',
 'Gurgaon',
 'Bangalore',
 'Gurgaon',
 'Chennai',
 'Pune',
 'New Delhi',
 'Bangalore',
 'Bangalore',
 'Ahmedabad',
 'Hyderābād',
 'Hyderābād',
 'Hyderābād',
 'Bangalore',
 'Mumbai',
 'Mumbai',
 'Bangalore']

In [78]:
df = pd.DataFrame({})
df['JOB TITLE'] = job_titles
df['JOB LOCATION'] = job_locations
df['COMPANY NAME'] = com_names


df.head(10)

                 JOB TITLE JOB LOCATION            COMPANY NAME
0         Data Scientist 1    Bangalore                  PayPal
1         Data Scientist-1      Chennai                  PayPal
2  DATA ENGINEER H/F - CDI      Na-Duar           BCA Expertise
3           Data Scientist        India
4           Data Scientist      Chennai                  PayPal
5             Data Analyst      Chennai             FE Fundinfo
6           Data Scientist    Bangalore  Applied Materials Inc.
7           Data Scientist         Pune       Dassault Systèmes
8           Data Scientist      Chennai          Aspire Systems
9           Data Scientist    Bangalore                      HP

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [79]:
#connect to web driver
driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

In [80]:
url3 = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url3)

In [81]:
time.sleep(5)
sign_in = driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]')
sign_in.click()

In [84]:
time.sleep(5)
email = driver.find_element_by_id('userEmail')
email.send_keys('abdulwashif26@gmail.com')

In [82]:
time.sleep(3)
signin_pswd = driver.find_element_by_id('userPassword')
signin_pswd.send_keys('waShif26')

In [85]:
signing_in = driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]')
signing_in.click()

In [98]:
search_job = driver.find_element_by_id("KeywordSearch")
search_job.send_keys('Data Scientist')

In [99]:
clear = driver.find_element_by_id("LocationSearch")
clear.send_keys(Keys.CONTROL,'a')

In [100]:
cut = driver.find_element_by_id("LocationSearch")
cut.send_keys(Keys.CONTROL,'x')

In [101]:
search_loc = driver.find_element_by_id("LocationSearch")
search_loc.send_keys('Noida')

In [102]:

search_btn = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [126]:
time.sleep(4)
com_titles = []
company = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

for i in company[:10]:
    com_titles.append(i.text)
        
com_titles

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum Global Solutions',
 'ZS Associates']

In [124]:
time.sleep(4)
min_sal = []
sal = driver.find_elements_by_xpath("//p[@class='m-0 css-1vkj9it']")

for i in sal[:10]:
    min_sal.append(i.text)
        
min_sal

['₹4L',
 'Low',
 '₹10L',
 'Average',
 '₹20L',
 'High',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi']

In [127]:
time.sleep(4)
max_sal = []
sal_1 = driver.find_elements_by_xpath("//p[@class='m-0 css-1vkj9it']")

for i in sal[:10]:
    max_sal.append(i.text)
        
max_sal

['₹4L',
 'Low',
 '₹10L',
 'Average',
 '₹20L',
 'High',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi']

In [128]:
time.sleep(4)
avg_sal = []
sal_2 = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

for i in sal[:10]:
    avg_sal.append(i.text)
        
avg_sal

['₹4L',
 'Low',
 '₹10L',
 'Average',
 '₹20L',
 'High',
 'New Delhi',
 'New Delhi',
 'New Delhi',
 'New Delhi']

In [130]:
len(com_titles)

10

In [125]:
len(min_sal)

10

In [129]:
df = pd.DataFrame({})
df['Company Name'] = com_titles
df['MIN Salary'] = min_sal
df['Max Salary'] = max_sal
df['Avg Salary'] = avg_sal

df.head(10)

                Company Name MIN Salary Max Salary Avg Salary
0                        IBM        ₹4L        ₹4L        ₹4L
1  Tata Consultancy Services        Low        Low        Low
2                  Accenture       ₹10L       ₹10L       ₹10L
3                  Delhivery    Average    Average    Average
4         Ericsson-Worldwide       ₹20L       ₹20L       ₹20L
5         UnitedHealth Group       High       High       High
6         Valiance Solutions  New Delhi  New Delhi  New Delhi
7                EXL Service  New Delhi  New Delhi  New Delhi
8     Optum Global Solutions  New Delhi  New Delhi  New Delhi
9              ZS Associates  New Delhi  New Delhi  New Delhi

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes

In [138]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys

import time

def sunglasses_flikpart(url):

    opts = Options()
    driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")



    brand, desc, price, discount = [],[],[],[]
    counter = 0

    driver.get(url)


    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()  # close the login pop-up

    driver.find_element_by_xpath("//input[@class='_3704LK']").clear()
    driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sunglasses',Keys.RETURN)  # search for sunglasses

    window_before = driver.window_handles[0]

    time.sleep(3)


    while counter < 101:

        for block in driver.find_elements_by_xpath("//img[@class='_2r_T1I']"):
            block.click()
            window_after = driver.window_handles[-1]

            driver.switch_to.window(window_after)

            time.sleep(2)

            brand.append(driver.find_element_by_class_name("G6XhRU").text)
            desc.append(driver.find_element_by_class_name("B_NuCI").text)
            price.append(driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']").text)
            discount.append(driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span").text)    

            driver.close()

            time.sleep(2)

            driver.switch_to.window(window_before)

            counter += 1



        driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[-1].click()

        time.sleep(5)


    df = pd.DataFrame(list(zip(brand,price,discount,desc)),columns=['brand','price','discount','description'])

    #df.drop_duplicates(inplace=True)

    return df
    
res_df = sunglasses_flikpart('https://www.flipkart.com/')
res_df.head(100)

,brand,price,discount,description
0,Wrogn,₹663,73% off,Mirrored Wayfarer Sunglasses (51) (For Men & ...
1,ROYAL SON,₹375,74% off,"Mirrored Aviator Sunglasses (55) (For Men, Bl..."
2,kingsunglasses,₹299,88% off,"Mirrored, UV Protection Wayfarer Sunglasses (F..."
3,Fastrack,₹513,35% off,UV Protection Rectangular Sunglasses (Free Siz...
4,Fastrack,₹758,15% off,UV Protection Wayfarer Sunglasses (Free Size) ...
...,...,...,...,...
115,Wrogn,"₹1,175",63% off,"Polarized, UV Protection Aviator Sunglasses (5..."
116,Wrogn,₹711,72% off,Mirrored Retro Square Sunglasses (57) (For Me...
117,Fastrack,"₹1,021",21% off,UV Protection Rectangular Sunglasses (59) (Fo...
118,PHENOMENAL,₹319,84% off,"UV Protection, Mirrored Clubmaster Sunglasses ..."
119,ROYAL SON,₹751,62% off,"Polarized, UV Protection Aviator Sunglasses (5..."

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [139]:

from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options

from selenium.webdriver.common.keys import Keys

import time

def iphone_reviews_flikpart(url):

    opts = Options()
    driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    #url = "https://www.flipkart.com/"

    
    rating_l,rev_summary_l,full_summary_l = [],[],[]
    
    counter = 0

    driver.get(url)

    time.sleep(3)

    while counter < 11:


        time.sleep(2)
        
        
        for rating in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
            rating_l.append(rating.text)
        
        for rev_summary in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
            rev_summary_l.append(rev_summary.text)
            
        for full_summary in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_summary_l.append(full_summary.text)
             

        time.sleep(2)

        counter += 1

        driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[-1].click()

        time.sleep(5)


    df = pd.DataFrame(list(zip(rating_l,rev_summary_l,full_summary_l)),columns=['ratings','review_summary','full_summary'])

    df.drop_duplicates(inplace=True)

    return df
    
res_df = iphone_reviews_flikpart('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1')
res_df.head(100)

,ratings,review_summary,full_summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
103,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
104,4,Excellent,Just go for it.\nThis phone is really amazing....
105,5,Excellent,It was amazing experience for me. Honestly i a...
106,5,Pretty good,I've used this phone for over a month now and ...
107,5,Must buy!,I rate this product 5* as it has got amazing u...

In [140]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys

import time

def sunglasses_flikpart(url):

    opts = Options()
    driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")



    brand, desc, price, discount = [],[],[],[]
    counter = 0

    driver.get(url)


    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()  # close the login pop-up

    driver.find_element_by_xpath("//input[@class='_3704LK']").clear()
    driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sneakers',Keys.RETURN)  # search for sunglasses

    window_before = driver.window_handles[0]

    time.sleep(3)


    while counter < 101:

        for block in driver.find_elements_by_xpath("//img[@class='_2r_T1I']"):
            block.click()
            window_after = driver.window_handles[-1]

            driver.switch_to.window(window_after)

            time.sleep(2)

            brand.append(driver.find_element_by_class_name("G6XhRU").text)
            desc.append(driver.find_element_by_class_name("B_NuCI").text)
            price.append(driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']").text)
            discount.append(driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span").text)    

            driver.close()

            time.sleep(2)

            driver.switch_to.window(window_before)

            counter += 1



        driver.find_elements_by_xpath("//a[@class='_1LKTO3']")[-1].click()

        time.sleep(5)


    df = pd.DataFrame(list(zip(brand,price,discount,desc)),columns=['brand','price','discount','description'])

    #df.drop_duplicates(inplace=True)

    return df
    
res_df = sunglasses_flikpart('https://www.flipkart.com/')
res_df

,brand,price,discount,description
0,DUCATI,"₹1,445",60% off,Sneakers For Men (Black)
1,French Connection,"₹1,374",62% off,Sneakers For Men (Navy)
2,Robbie jones,₹399,60% off,Casual Sneakers Shoes For Men Sneakers For Men...
3,Labbin,₹499,50% off,Sneakers For Men (White)
4,KULP,₹399,60% off,heart beat Sneakers For Men (White)
...,...,...,...,...
115,STRANGER BROTHERS,₹475,52% off,"Sneakers For Men (White, Black)"
116,Fzzirok,₹399,60% off,Sneakers For Men (Black)
117,NIKE,"₹2,429",45% off,Court Royale Shoe Sneakers For Men (Black)
118,Zsyto,₹398,69% off,Casual sneaker shoes for men Sneakers For Men ...
119,DUCATI,₹749,70% off,Sneakers For Men (Navy)

In [ ]:
res_df.head(100)

# Q9.MINTRA

In [141]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options


import time



def sneaker_filter_scrape_myn(url):
    opts = Options()
    driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    
    driver.get(url)


    driver.find_element_by_xpath("//input[@value='6649.0 TO 13099.0']/following-sibling::div").click()
    time.sleep(2)
    driver.find_element_by_xpath("//input[@value='Black']/following-sibling::div").click()

    time.sleep(2)

    window_before = driver.window_handles[0]

    brand, desc, price= [],[],[]
    counter = 0

    while counter < 3:

        for block in driver.find_elements_by_xpath("//div[@class='product-sliderContainer']"):
            block.click()
            window_after = driver.window_handles[-1]

            driver.switch_to.window(window_after)

            time.sleep(2)


            brand.append(driver.find_element_by_xpath("//h1[@class='pdp-title']").text)
            desc.append(driver.find_element_by_xpath("//h1[@class='pdp-name']").text)
            price.append(driver.find_element_by_xpath("//span/strong").text)


            driver.close()

            time.sleep(2)

            driver.switch_to.window(window_before)

        counter += 1


        driver.find_element_by_xpath("//a[@rel='next']").click()

        time.sleep(5)


    df = pd.DataFrame(list(zip(brand,price,desc)),columns=['brand','price','description'])

    return df


res_df = sneaker_filter_scrape_myn('https://www.myntra.com/shoes')
res_df.head(100)

         brand      price                                        description
0         Nike  Rs. 12316  Unisex Black LEBRON XVIII Mid-Top Basketball S...
1         Nike   Rs. 7721      Men Black AIR ZOOM STRUCTURE 23 Running Shoes
2         Nike  Rs. 12745           Men Black & Yellow JOYRIDE Running Shoes
3   PUMA Hoops   Rs. 7699        Unisex Black Clyde All-Pro Basketball Shoes
4         ALDO   Rs. 9999                                 Men Black Sneakers
..         ...        ...                                                ...
95     Lacoste   Rs. 8650                   Men Black Colourblocked Sneakers
96       ASICS  Rs. 11999                  Men Black Synthetic Running Shoes
97     Lacoste   Rs. 7052             Men Black Woven Design Casual Sneakers
98       KLEAT   Rs. 7999                    Men Black Woven Design Sneakers
99       Ruosh   Rs. 6990                   Men Black Leather Formal Brogues

[100 rows x 3 columns]

Q10.AMAZON Review

In [143]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options

from selenium.webdriver.common.keys import Keys
import time



def laptops_i7i9_amz(url):

    opts = Options()
    driver = webdriver.Chrome(r"D:\Download\chromedriver.exe")

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    title_l,price_l,ratings_l = [],[],[]   

    driver.get(url)

    counter = 0

    time.sleep(2)

    driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']").send_keys('Laptop',Keys.RETURN)


    driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span").click()
    time.sleep(2)
    driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']/span").click()

    time.sleep(5)    


    while True:

        html = driver.page_source
        soup = BeautifulSoup(html)

        for i in soup.find_all('div',attrs={'data-component-type':'s-search-result'}):
           #title_l.append(i.find('',attrs={'class':'a-size-medium a-color-base a-text-normal'}).text)
           #t = i.find('span',attrs='class':'a-size-medium a-color-base a-text-normal')
            t = i.find('span',attrs={'class':'a-size-medium a-color-base a-text-normal'})
            if t is not None:            
                title_l.append(i.find('span',attrs={'class':'a-size-medium a-color-base a-text-normal'}).text)
            else:
                title_l.append('?')
            p = i.find('span',attrs={'class':'a-price-whole'})
            if p is not None:            
                price_l.append(i.find('span',attrs={'class':'a-price-whole'}).text)
            else:
                price_l.append('?')

            z = i.find('span',attrs={'class':'a-icon-alt'})            
            if z is not None:    
                ratings_l.append(i.find('span',attrs={'class':'a-icon-alt'}).text)
            else:
                ratings_l.append('Not_rated')

            counter += 1

            if counter > 99:
                break


        if counter > 99:
            break


        driver.find_element_by_xpath("//li[@class='a-last']").click()

        time.sleep(5)


    df = pd.DataFrame(list(zip(title_l,price_l,ratings_l)),columns=['title_l','price','ratings'])


    return df

res_df = laptops_i7i9_amz('https://www.amazon.in/')

res_df.head(10)

,title_l,price,ratings
0,Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...,"91,390",4.6 out of 5 stars
1,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"84,990",4.4 out of 5 stars
2,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,"96,555",4.2 out of 5 stars
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"59,999",4.4 out of 5 stars
4,Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...,"69,990",4.3 out of 5 stars
5,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...","84,990",4.5 out of 5 stars
6,"ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...","1,39,990",5.0 out of 5 stars
7,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...","78,993",4.0 out of 5 stars
8,"ASUS ROG Zephyrus S17 (2020), 17.3"" FHD 300Hz/...","1,65,990",3.6 out of 5 stars
9,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,"49,999",1.0 out of 5 stars